@import "../../assets/styles/variables";

.breadCrumb {
  background-color: #f6f6f6;
  &_container {
    .row {
      .col {
        .breadcrumb {
          margin-bottom: 0;
          padding: 8px 0;
          &-item {
            font-size: $fontSizeBody;
            a {
              text-decoration: none;
              font-size: $fontSizeBody;
              color: $neutralColor;
            }
          }
          .active {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.blog {
  padding-bottom: 60px;
  background-color: #f6f6f6;
  &_container {
    .row {
      .blog_title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        background-color: $secondaryColor;
        p {
          font-size: $fontSizeHeading;
          margin-bottom: 0;
        }
      }

      .blog_body {
        .row {
          .content {
            padding-top: 30px;
            background-color: $secondaryColor;
            .content_item {
              padding-bottom: 15px;
              &-wrapper {
                display: grid;
                grid-template-columns: 2fr 3fr;
                gap: 30px;
                .image {
                  width: 100%;
                  height: 100%;
                  border-radius: 6px;
                  overflow: hidden;
                  cursor: pointer;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                  }
                }

                .content {
                  width: 100%;
                  height: 100%;
                  padding-top: 10px;
                  gap: 10px;
                  .title {
                    font-size: $fontSizeHeading;
                    font-weight: $font-weight-medium;
                    cursor: pointer;
                    &:hover {
                      color: #2f80ed;
                    }
                  }

                  .timestamp {
                    &-body {
                      margin-bottom: 0;
                      padding-left: 0;
                      gap: 10px;
                      .media-item {
                        gap: 4px;
                        svg {
                          color: $neutralColor;
                        }
                        span {
                          font-size: $fontSizeBody;
                          color: $neutralColor;
                        }
                      }
                    }
                  }

                  .content {
                    width: 100%;
                    gap: 8px;
                    p {
                      width: 100%;
                      margin-bottom: 0;
                      padding-left: 0;
                      font-size: $fontSizeBody;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                    }
                    a {
                      font-size: $fontSizeBody;
                      color: $primaryColor;
                    }
                  }
                }
              }
            }
          }

          .sidebar {
            gap: 24px;
            background-color: $secondaryColor;
            padding-top: 30px;
            &_menu {
              .heading {
                text-transform: uppercase;
                font-weight: $font-weight-semi-bold;
              }

              .list {
                padding-left: 0;
                margin-bottom: 0;
                gap: 4px;
                &-item {
                  text-transform: uppercase;
                  color: $neutralColor;
                  cursor: pointer;
                  gap: 4px;

                  svg {
                    width: 30px;
                    height: 30px;
                  }

                  div {
                    &:hover {
                      color: #2f80ed;
                    }
                  }

                  .item-dropdown {
                    margin-bottom: 0;
                    padding-left: 10px;
                    gap: 4px;
                    li {
                      a {
                        text-decoration: none;
                        color: $neutralColor;
                        text-transform: none;
                        &:hover {
                          color: #2f80ed;
                        }
                      }
                    }
                  }
                }
              }
            }

            &_hotnews {
              .heading {
                text-transform: uppercase;
                font-weight: $font-weight-semi-bold;
                cursor: pointer;
                &:hover {
                  color: #2f80ed;
                }
              }

              .list {
                gap: 14px;
                .listblog {
                  .image {
                    width: 40%;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .text {
                    width: 55%;
                    p {
                      margin-bottom: 0;
                      padding-left: 0;
                      font-size: $fontSizeBody;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointTabletLarge) {
  .blog {
    &_container {
      .row {
        .blog_body {
          .row {
            .content {
              margin-bottom: 12px;
            }

            .sidebar {
              &_hotnews {
                .list {
                  .listblog {
                    .image {
                      width: 100px;
                    }
                    .text {
                      padding-left: 12px;
                      flex: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointTablet) {
  .blog {
    &_container {
      .row {
        .blog_body {
          .row {
            .content {
              .row .content_item {
                &-wrapper {
                  gap: 12px;
                  display: flex;
                  flex-direction: column !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
