@import "../../assets/styles/variables";

.cardItem {
  &_wrapper {
    width: 100%;
    .thumbnail {
      width: 100%;
      height: 412px;
      position: relative;
      cursor: pointer;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      border-radius: 4px;
      overflow: hidden;
      background-color: $secondaryColor;

      .tag {
        padding: 4px 8px;
        font-size: $fontSizeCaption;
        background-color: #f0f0f0;
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 40;
      }

      .image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        display: block;
        overflow: hidden;
        top: 0;
        left: 0;
        transition: 0.3s ease-in;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }

        .bg-img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          z-index: 20;
          transition: 0.2s ease-in;
        }

        .img_1 {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          transition: 0.2s ease-in;
          opacity: 1;
        }

        .img_2 {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 10;
          transition: 0.2s ease-in;
          opacity: 0;
        }
      }

      .action {
        position: absolute;
        left: 50%;
        bottom: 12%;
        z-index: 20;
        &-btn {
          position: absolute;
          bottom: 8%;
          width: 100%;
          transform: translateY(150%);
          opacity: 0;
          visibility: hidden;
          transition: 0.2s ease-in;
          a {
            padding: 8px 12px;
            background-color: #fff;
            transition: 0.2s ease-in-out;
            svg {
              color: $primaryColor;
            }

            &:first-child {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            &:last-child {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }

            &:hover {
              background-color: #f4f4f4;
            }
          }
        }
      }

      &:hover {
        transition: 0.3s ease-in;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        .image-wrapper {
          .bg-img {
            transition: 0.2s ease-in;
            border-radius: 4px;
          }
          img {
            transition: 0.3s ease-in;
            -webkit-transform: scale(0.96);
            transform: scale(0.96);
          }
          .img_1 {
            border-radius: 4px;
            opacity: 0;
            transition: 0.2s ease-out;
          }
          .img_2 {
            border-radius: 4px;
            opacity: 1;
            transition: 0.2s ease-out;
          }
        }

        .action {
          &-btn {
            transform: translateY(50%);
            opacity: 1;
            visibility: visible;
            transition: 0.2s ease-in;
          }
        }
      }
    }

    .info {
      padding-top: 10px;
      gap: 6px;

      .info-vendor {
        font-size: $fontSizeCaption;
        color: $neutralColor;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .info-name {
        font-weight: $font-weight-semi-bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        cursor: pointer;
        &:hover {
          color: #3a6fb5;
        }
      }

      .info-pricebox {
        .price {
          font-weight: $font-weight-semi-bold;
        }

        .compareprice {
          span {
            font-size: $fontSizeBody;
            color: $neutralColor;
            padding-right: 14px;
            &:last-child {
              font-size: $fontSizeCaption;
              color: #d0021b;
            }
          }
        }
      }

      .info-choosecolor {
        gap: 8px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .image {
          border-radius: 50%;
          width: 45px;
          height: 45px;
          overflow: hidden;
          cursor: pointer;
          transition: 0.3s ease-in;
          position: relative;
          img {
            border: 5px solid transparent;
            border-radius: 50%;
            transition: 0.3s ease-in;
          }

          &:hover {
            border: 1px solid $primaryColor;
            transition: 0.3s ease-in;
            img {
              transition: 0.3s ease-in;
              border: 5px solid $secondaryColor;
            }
          }
        }

        .image-active {
          border: 1px solid $primaryColor;
          img {
            border: 5px solid $secondaryColor;
          }
        }

        .seemore {
          width: 45px;
          height: 45px;
          cursor: pointer;
          text-decoration: none;
          span {
            color: $neutralColor;
            font-size: 22px;
          }
        }

        .info-hotdeal {
          margin-top: 6px;
        }
      }
    }
  }
}

.customoffcanvans_quickview {
  .modal-dialog {
    max-width: 800px !important;
    .modal-content {
      .modal-body {
        .quickview-left {
          width: 50%;
          padding: 0 16px;
          .swiper-button-next,
          .swiper-button-prev {
            display: none;
          }
          .swiper-slide-thumb-active {
            transition: 0.2s ease-in-out;
            border: 1px solid $primaryColor;
            opacity: 1 !important;
          }
          .swiper {
            width: 100%;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
          }
          .swiper-slide {
            background-size: cover;
            background-position: center;
          }
          .mySwiper2 {
            width: 100%;
          }
          .mySwiper {
            height: 90px;
            box-sizing: border-box;
            padding: 10px 0;
          }
          .mySwiper .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
          }
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .quickview-right {
          width: 50%;
          height: 100%;
          .heading {
            font-size: 20px;
          }

          .groupstatus {
            gap: 12px;
            span {
              font-size: $fontSizeBody;
              a {
                text-decoration: none;
              }
            }
          }

          .promotag {
            margin-top: 20px;
            gap: 12px;
            &_first {
              font-size: $fontSizeBody;
              padding: 4px 6px;
              background-color: $bgneutralColor;
            }
          }

          .choosecolor {
            margin-top: 20px;
            &_header {
              font-weight: $font-weight-semi-bold;
              padding-bottom: 8px;
            }

            &_list {
              gap: 10px;
              .image {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                overflow: hidden;
                cursor: pointer;
                transition: 0.3s ease-in;
                position: relative;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  display: block;
                  border: 5px solid transparent;
                  border-radius: 50%;
                  transition: 0.3s ease-in;
                }

                &:hover {
                  border: 1px solid #000000;
                  transition: 0.3s ease-in;
                }
              }

              .image-active {
                border: 1px solid #000000;
              }
            }
          }

          .choosesize {
            margin-top: 20px;
            &_header {
              padding-bottom: 8px;
            }

            &_list {
              gap: 10px;
              .size {
                width: 30px;
                height: 30px;
                border: 1px solid #ccc;
                border-radius: 4px;
                cursor: pointer;
                .icon-check {
                  display: none;
                }
              }

              .size-active {
                border: 1px solid $primaryColor;
                position: absolute;
                overflow: hidden;
                &::after {
                  content: "";
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  width: 16px;
                  height: 13px;
                  background-color: #000000;
                  border-radius: 100px;
                }

                .icon-check {
                  display: block;
                  width: 5px;
                  position: absolute;
                  top: -5px;
                  right: 2px;
                  color: white;
                  z-index: 20;
                }
              }
            }
          }

          .concessionary {
            margin-top: 20px;
            padding: 10px;
            border: 2px dashed #6782a6;
            position: relative;
            &_header {
              position: absolute;
              top: -17px;
              padding: 4px;
              left: 2%;
              gap: 8px;
              background-color: $secondaryColor;
              span {
                font-size: $fontSizeBody;
                color: #6782a6;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
              }
            }

            &_list {
              margin-bottom: 0;
              li {
                list-style-type: disc;
                font-size: $fontSizeBody;
                padding: 4px 0;
                span {
                  font-size: $fontSizeBody;
                }
              }
            }
          }

          .formaddcart {
            margin-top: 30px;
            &_header {
              padding-bottom: 16px;
              gap: 18px;
              .input-number {
                input[type="number"] {
                  -moz-appearance: textfield; /* Firefox */
                  -webkit-appearance: none; /* Safari và Chrome */
                  appearance: textfield; /* Hỗ trợ cho các trình duyệt khác */
                }
                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                border-radius: 4px;
                border: 1px solid #ccc;

                button,
                input {
                  border: none;
                  outline: none;
                }

                button {
                  background-color: transparent;
                  width: 46px;
                  height: 46px;
                  font-size: 16px;
                  svg {
                    color: #ccc;
                  }
                }
                input {
                  width: 40px;
                  text-align: center;
                  color: #495057;
                }

                .decre {
                  svg {
                    width: 25px;
                    height: 25px;
                  }
                }
              }

              .btn-addtocart {
                height: 48px;
                background-color: $secondaryColor;
                border-radius: 4px;
                border: 1px solid $primaryColor;
                cursor: pointer;
                transition: 0.2s ease-in;
                span {
                  color: $primaryColor;
                  font-weight: $font-weight-semi-bold;
                  text-transform: uppercase;
                }
                flex: 1;

                &:hover {
                  background-color: $primaryColor;
                  span {
                    color: $secondaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointTabletLarge) {
  .cardItem {
    &_wrapper {
      .action {
        display: none;
      }
    }
  }
}
