@import "./variables";

* {
  font-size: 16px;
  font-weight: $font-weight-regular;
  font-family: "mulish";
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.scrollToTop-active {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: 0.3s ease-in-out;
  visibility: visible !important;
}

.scrollToTop {
  position: fixed;
  right: 1%;
  bottom: 30%;
  transform: translateY(-100%);
  width: 40px;
  height: 40px;
  background-color: #080808;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  svg {
    color: $secondaryColor;
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: $breakpointPhoneLarge) {
  .navbarBottom {
    opacity: 1 !important;
    visibility: visible !important;
    transition: 0.2s ease-in !important;
  }
}
