@import "../../assets/styles/variables";

.policy {
  &_container {
    .row {
      .col {
        padding-top: 30px;
        padding-bottom: 30px;

        .heading {
          font-size: $fontSizeHeading;
          font-weight: $font-weight-semi-bold;
        }

        .content {
          ul {
            li {
              list-style-type: disc !important;
            }
          }
        }
      }
    }
  }
}
